# flask & mysql & jinja templates
click==7.1.2
Flask==2.3.2
Flask-MySQLdb==0.2.0
gunicorn==22.0.0
itsdangerous==1.1.0
Jinja2==3.1.4
MarkupSafe==1.1.1
mysqlclient==1.4.6
waitress==3.0.1
Werkzeug==3.0.6
# docker webhook api
dockerhub-webhook
# matrix webhook bot
markdown
matrix-nio
# flask input validation
marshmallow
# flask email
flask_mail
# monitoring prometheus
prometheus_client
flask-prometheus
prometheus_flask_exporter
