service uucp
{
    disable     = no
    socket_type = stream
    protocol    = tcp
    wait        = no
    user        = uucp
    server      = /usr/lib/uucp/uucico
    server_args = -l
    FLAGS       = IPv6 IPv4
}

